*{
  font-family: poppins; 
  margin: 0; padding: 0;  
  text-decoration: none;
  box-sizing: border-box;
  
}

body {
  background: radial-gradient(circle at top left, #2d0000, #000000 60%);
  overflow-x: hidden;
}
