/* src/components/Header.css */
.gn-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

.gn-logo img {
  height: 50px;
  filter: drop-shadow(0 0 5px red);
}

.gn-nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.gn-nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  position: relative;
  transition: color 0.3s ease;
}

.gn-nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: red;
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}

.gn-nav a:hover {
  color: red;
}

.gn-nav a:hover::after {
  width: 100%;
}
